<configuration>  
  <system.web>
    <httpRuntime executionTimeout="600" />
  </system.web>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\stable_diffusion_app\stable_app\env\Scripts\python.exe|C:\stable_diffusion_app\stable_app\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\stable_diffusion_app\stable_app" />
  <!-- <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Flask\app.log" />-->
  </appSettings>
</configuration>  
 